/* CSS Document */

.lab{width:100px;float:left;margin-top:5px;font-weight:bold;}
.lab1{width:100px;float:left;margin-top:20px;font-weight:bold;}
#lab_input{width: 250px; height: 20px;}
#lab1_input{width: 250px; height: 20px;margin-top:15px;}
.front_lab{float:left; font-weight:bold;}
#select_input{margin-top:15px; width:100px;}
.tool_pay{color:#063;width:450px;}
.tool_pay h1{color:#063;font-size:30px; text-align:center;}
.tool_title{float:left;width:175px;}
.tool_submit{text-align:center;}
.tabular_div { width:750px; float:left; font-family:"Times New Roman", Times, serif; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.table_header { height:40px; background:#ededed; font-size:16px; font-weight:bold; color:#444; line-height:40px; -moz-border-radius:5px 5px 0 0; -webkit-border-radius:5px 5px 0 0; border-radius:5px 5px 0 0; }
.col { padding:0 10px; float:left; }
.col1 { width:120px; }
.col2 { width:120px; }
.col3 { width:120px; }
.col4 { width:310px; }
.table_content { float:left; background:#f6f6f6; font-size:13px; color:#444; line-height:40px; -moz-border-radius:0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; width:750px; }

